*{
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(129, 127, 127);
}

.board{
  width: 500px;
  height: 500px;
  display: grid;
  border-style: double;
  border-color: black;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.title {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  float: left;
}

